<footer class="container">
   <hr class="featurette-divider">
   <p class="float-right"><a [routerLink]="" (click)="scrollToElement('carouselItem')">Subir</a></p>
   <div class="row">
      <div class="col-sm">
         <a href="https://www.instagram.com/gestionatusreclamos/" target="_blank" style="margin-right: 10px">
            <fa-icon [icon]="['fab', 'instagram']" size="2x"></fa-icon>
         </a>
         <a href="https://wa.me/5491133951185" target="_blank" style="margin-right: 10px">
            <fa-icon [icon]="['fab', 'whatsapp']" size="2x"></fa-icon>
         </a>
      </div>
   </div>
   <div class="row">
      <div class="col-sm">
         <fa-icon [icon]="['fas', 'envelope']"></fa-icon>
         gestionatusreclamos@gmail.com
         <fa-icon [icon]="['fas', 'phone']"></fa-icon>
         +54 011 1533951185
      </div>
   </div>
   <div class="row">
      <div class="col-sm">
         <p>Copyrights &copy; 2020 Todos los derechos reservados.</p>
         <p><a href="https://www.instagram.com/juanct1986/" target="_blank">Sitio web creado por jvdesarrollo.</a></p>
      </div>
   </div>
</footer>
